@{
    ViewData["Title"] = "Home";
}

<!-- header banner -->
<div class="banner v__3">
    <div class="banner__wrapper">
        <div class="swiper swiper-data" data-swiper='{
                    "slidesPerView":1,
                    "effect": "fade",
                    "loop": false,
                    "speed": 1000,
                    "autoplay":{
                        "delay":"7000"
                    }}'>

            <div class="swiper-wrapper">
                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="banner__wrapper--bg" style="background-image: url(assets/images/banner/sttjaffrayjakarta_wisuda.svg);"></div>
                </div>
                <!-- single slide -->
                <!-- single slide -->
                <div class="swiper-slide">
                    <div class="banner__wrapper--bg" style="background-image: url(assets/images/banner/slider__3.jpg);">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-10 col-sm-10">
                                    <div class="banner__slides--container banner__height">
                                        <div class="banner__slides--content">
                                            <h2 class="banner__slides--content--title">
                                                Penerimaan Mahasiswa Baru
                                            </h2>
                                            <p class="banner__slides--content--description">
                                                Pendaftaran penerimaan mahasiswa baru telah dibuka.
                                            </p>
                                            <div class="banner__slides--content--btn">
                                                <a href="javascript:void(0);" class="rts-theme-btn btn-arrow">
                                                    Daftar Sekarang
                                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slide -->
            </div>
        </div>
    </div>
</div>
<!-- header banner end -->
<!-- our program -->
<section class="program rts-section-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="rts__section--wrapper v__2">
                    <h2 class="rts__section--title text-capitalize">PRODI</h2>
                    <p class="rts__section--description">Sarjana Teologi (S.TH.), Sarjana Pendidikan Agama Kristen (S.PD.K.), Magister Teologi (M.TH.), Magister Pendidikan Agama Kristen (M.PD.K.), Teologi Alkitabiah Kontekstual.</p>
                    <div class="campus__vector">
                        <img src="assets/images/campus/campus__vector.svg" alt="">
                    </div>
                    <a href="javascript:void(0);" class="rts-theme-btn btn-arrow">
                        Lihat Detail Prodi
                        <span><i class="fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-10 mt-5 mt-md-0">
                <div class="row g-5">
                    <div class="col-lg-6 col-md-6">
                        <div class="program__content">
                            <div class="rts__program--item v__2" style="background-image: url(assets/images/program/program__1.jpg);"></div>
                            <!-- second one -->
                            <div class="rts__program--item v__2" style="background-image: url(assets/images/program/program__2.jpg);"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="program__content mt--85">
                            <div class="rts__program--item v__2" style="background-image: url(assets/images/program/program__3.jpg);"></div>
                            <!-- second one -->
                            <div class="rts__program--item v__2" style="background-image: url(assets/images/program/program__4.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our program end -->

<div class="campus__paralax--image" style="background-image: url('assets/images/campus/paralax__image.jpg');">
</div>

<!-- apply start -->
<section class="rts-application-area moving rts-section-padding v_1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="rts__section--wrapper v__9">
                    <h2 class="rts__section--title">Tanya Admin</h2>
                    <p class="rts__section--description">Setiap pertanyaan yang dikirim, admin kami akan menjawabnya.</p>
                </div>
            </div>
        </div>
        <!-- application form -->
        <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-6 col-xl-7">
                <div class="rts-admission-form-image">
                    <img src="assets/images/feature/admission-form.jpg" alt="">
                </div>
            </div>
            <div class="col-md-11 col-lg-6 col-xl-5">
                <div class="rts-application-form">
                    <div class="rts-application-form-content">
                        <h5 class="heading-title  mb--25">Form Pertanyaan</h5>
                        <form action="#" class="rts-form">
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <input type="text" name="fname" id="fname" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <input type="email" name="email" id="email2" placeholder="Email.." required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <input type="number" name="Phone" id="Phone" placeholder="Phone" required>
                                </div>
                            </div>
                            <div class="rts-input w-full">
                                <div class="single-input">
                                    <textarea name="msg" id="msg" placeholder="Ketik pertanyaanmu"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="rts-theme-btn rts-nbg-btn btn-arrow v2 full-btn">Kirim <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="rt-shape">
            <img src="assets/images/feature/shape/01.svg" data-speed="0.04" alt="shape" class="rt-shape__1">
            <img src="assets/images/feature/shape/02.svg" data-speed="0.04" alt="shape" class="shape rt-shape__2">
            <img src="assets/images/feature/shape/03.svg" data-speed="0.04" alt="shape" class="shape rt-shape__3">
            <img src="assets/images/feature/shape/04.svg" data-speed="0.04" alt="shape" class="shape rt-shape__4">
            <img src="assets/images/feature/shape/05.svg" data-speed="0.04" alt="shape" class="shape rt-shape__5">
        </div>
    </div>
</section>
<!-- apply end -->
<!-- UPCOMING EVENT -->
<section class="rts__section rts__light pt--120">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper rt__lowercase">
                <h2 class="rts__section--title">Acara Kampus</h2>
                <div class="rts__section--link">
                    <a href="javascript:void(0);" class="rts-nbg-btn btn-arrow">
                        Lihat Semua<span>
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- event content -->
        <div class="row g-5">
            <!-- single event item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts__single--event v__2">
                    <div class="rts__single--event--thumb">
                        <a href="javascript:void(0);">
                            <img src="assets/images/event/01.png" alt="event">
                        </a>
                    </div>
                    <div class="rts__single--event--meta">
                        <div class="rts__single--event--meta--dl">
                            <span class="date">
                                <img src="assets/images/icon/calendar.svg" alt="">
                                <span>Apr 19, 2024</span>
                            </span>
                            <span class="location">
                                <i class="fa-sharp fa-light fa-location-dot"></i>
                                <span>Kampus STT Jaffray Jakarta, Indonesia</span>
                            </span>
                        </div>
                        <h5 class="rts__single--event--meta--title">
                            <a href="javascript:void(0);">
                                Menjadi Wartawan Kristus
                            </a>
                        </h5>
                        <a href="javascript:void(0);" class="rts__round--btn">
                            <i class="fa-light fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- single event item -->
            <!-- single event item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts__single--event v__2">
                    <div class="rts__single--event--thumb">
                        <a href="javascript:void(0);">
                            <img src="assets/images/event/02.png" alt="event">
                        </a>
                    </div>
                    <div class="rts__single--event--meta">
                        <div class="rts__single--event--meta--dl">
                            <span class="date">
                                <img src="assets/images/icon/calendar.svg" alt="">
                                <span>Nov 17, 2024</span>
                            </span>
                            <span class="location">
                                <i class="fa-sharp fa-light fa-location-dot"></i>
                                <span>Kampus STT Jaffray Jakarta, Indonesia</span>
                            </span>
                        </div>
                        <h5 class="rts__single--event--meta--title">
                            <a href="javascript:void(0);">
                                Meningkatkan Keterampilan Menulis Artikel Jurnal
                            </a>
                        </h5>
                        <a href="javascript:void(0);" class="rts__round--btn">
                            <i class="fa-light fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- single event item -->
            <!-- single event item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts__single--event v__2">
                    <div class="rts__single--event--thumb">
                        <a href="javascript:void(0);">
                            <img src="assets/images/event/03.png" alt="event">
                        </a>
                    </div>
                    <div class="rts__single--event--meta">
                        <div class="rts__single--event--meta--dl">
                            <span class="date">
                                <img src="assets/images/icon/calendar.svg" alt="">
                                <span>Feb 5-6, 2024</span>
                            </span>
                            <span class="location">
                                <i class="fa-sharp fa-light fa-location-dot"></i>
                                <span>Kampus STT Jaffray Jakarta, Indonesia</span>
                            </span>
                        </div>
                        <h5 class="rts__single--event--meta--title">
                            <a href="javascript:void(0);">
                                Discipleship Essentials Resources Training
                            </a>
                        </h5>
                        <a href="javascript:void(0);" class="rts__round--btn">
                            <i class="fa-light fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- single event item -->
        </div>
    </div>
</section>
<!-- UPCOMING EVENT END -->
<!-- brand slider -->
<div class="rts-brand v_1 rts-section-padding rts__light">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-11">
                <div class="rts-brand-slider swiper swiper-data" data-swiper='{
                    "slidesPerView":6,
                    "loop": true,
                    "autoplay":{
                        "delay":"3000"
                    },
                    "breakpoints":{
                        "320":{
                            "slidesPerView": 3,
                            "centeredSlides": true
                        },
                        "575":{
                            "slidesPerView": 4,
                            "centeredSlides": true
                        },
                        "768":{
                            "slidesPerView": 5,
                            "centeredSlides": true
                        },
                        "991":{
                            "slidesPerView": 6,
                            "centeredSlides": true
                        },
                        "1201":{
                            "slidesPerView": 6
                        }
                    }
            }'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/banpt.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/ditjenbimaskristen.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/ejafung.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/pddikti.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/ramarepository.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/sinta.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand slider end -->
<!-- newsletter -->
<div class="rts-newsletter v_1 rts-cta-background">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-newsletter-box" style="background-image: url(assets/images/newsletter/bg-1.jpg);">
                    <div class="rts-newsletter-box-content">
                        <h4 class="newsletter-title">
                            Terima informasi terkini STT Jaffray Jakarta
                        </h4>
                        <div class="newsletter-form w-530">
                            <form action="#">
                                <input type="email" name="subscription" id="subscription" placeholder="Alamat email anda" required>
                                <button type="submit" class="rts-nbg-btn btn-arrow">Ikuti <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter end -->
